@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
    --color:#aa6f73;
} 
*{
   font-family: 'Nunito', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

.logos{
    width: 90px;
    height: 60px;
    margin-left: -10px;
    margin-top: -15px;
    margin-bottom: -20px;
   
}
    
.chanext{
    margin-left: -40%;
}


.heading{
    padding-top: 2rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin:0 auto;
}

.heading span{
    font-size: 2rem;
    padding:1rem 6rem;
    color:#fff;
    background:var(--color);
    border-top-right-radius: 3rem;
    display: inline-block;
}

.header-1{
    background-color:rgb(245, 206, 206) ;
}

header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    width: 100%;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 2rem;
    color:black;
    font-weight:bolder;
}

header .header-1 .logo i{
    color:var(--color);
}

header .header-1 .form-container form{
    display: flex;
}

header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border:.2rem solid #666;
    font-size: 1.5rem;
    padding:0 1rem;
}

header .header-1 .form-container form #search:focus{
    border-color: var(--color);;
}

header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--color);
    color:#fff;
}

header .header-1 .form-container form label:hover{
    color:yellow;
}

header .header-2{
    background:var(--color);
}

header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

header .header-2 .navbar ul li{
    margin:0 1rem;
}

header .header-2 .navbar ul li a{
    font-size: 2rem;
    color:#fff;
    padding: 20px;
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:yellow;
}

header .header-2 .icons a{
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
}

header .header-2 .icons a:hover{
    color:yellow;
}

header .header-2 #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

header .header-2.header-active{
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

.controls{   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1.5rem 0;
    list-style: none;
    color: #000;
}
.btn{
    height: 4rem;
    width: 18rem;
    background:var(--color);
    font-size: 2rem;
    color: #fff;
    cursor: pointer; 
    border:none;
    outline: none;
}
#search{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.btn:hover{
    letter-spacing: .4px;
    box-shadow: 0 .3rem .25rem rgba(0,0,0,.3);
    color:black;
    
}

.btn{
    margin:1rem;
    line-height: 4rem;
    text-align: center;
    
}

.controls .btn.button-active{
    background:lightcoral;
    box-shadow: 0 .4rem .25rem rgba(0,0,0,.3);
    border-style: black solid;
    border-block-end-color: #666;
}


body{
   background: #eee;
}

.container{
   max-width: 1500px;
   margin:0 auto;
   padding:3rem 2rem;
}

.products-container
{
   display: grid;
   grid-template-columns: repeat(6, 190px);
   gap:2rem;
   margin-left: 3%;
}
.contain{
    display: grid;
   grid-template-columns: repeat(6, 190px);
   gap:2rem;
   margin-left: 3%;
    margin-top: 3rem;
 }
 
.container .products-container .product,
.container .contain .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}
.container .products-container .product:hover,
.container .contain .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img,
.container .contain .product img
{
   height: 10rem;
}
.container .products-container .product:hover img,
.container .contain .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3,
.container .contain .product h3{
   padding:.1rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover h3,
.container .contain .product:hover h3{
   color:rgb(241, 94, 94);
}

.container .products-container .product .price,
.container .contain .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 20rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.3rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


.concern{
    background:linear-gradient(var(--color),var(--color)), url(images/1.jpg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:10rem 1rem;
    text-align: center;
  
}

.concern h1{
    color:white;
    font-size: 4rem;
}

.concern p{
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
}

.concern form{
    height:5.5rem;
    max-width: 60rem;
    margin:0 auto;
    padding:0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    background:rgba(0,0,0,.3);
}

.concern form input[type="email"]{
    height: 100%;
    width: 80%;
    padding:0 1rem;
    outline: none;
    border:none;
    background:none;
    font-size: 2rem;
    color:#fff;
}

.concern form input[type="submit"]{
    border-radius: 5rem;
}
.footer{
    background-color: #000;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box .logo{
    font-size: 2.5rem;
    color:#333;
}

.footer .box-container .box i{
    color:var(--color);
}

.footer .box-container .box p{
    font-size: 1.7rem;
    padding:1rem 0;
    color:#666;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--color);
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:nth-child(2) a{
    display: block;
    font-size: 2rem;
    padding:.4rem 0;
    color:#666;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    width: 85%;
    margin:0 auto;
    padding:1.4rem 0;
    border-top: .1rem solid rgba(0,0,0,.3);
    color:#666;
    font-size: 2rem;

    padding-bottom: 5rem;

}

.footer .credit span{
    color:var(--color);
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

