*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/watch-1.gif);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container{
    width: 900px;
    height: 500px;
    box-shadow: 0px 5px 10px  #fff;
    background-color: white;
    border-radius: 3px;
    display: none;
    opacity: 80%;
    border: black  5rem;
  
}



.container img{
    margin-left: 26rem;
    height: 5rem;
}
.container h1{
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}
.container h4{
    padding: 3px;
    padding-left: 15rem;
    padding-right: 15rem;
    font-size: 12px;
    font-weight: 500;
    text-align: justify;
    color: black;
   
    font-family: Arial, Helvetica, sans-serif;
}
.container button{
    
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 110px;
    background-color: rgb(241, 94, 94);
    border:none;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-decoration:underline;
    
}


:root{
    --color:rgb(241, 94, 94);
}

.footer{
    padding: 1rem;
    background-color: #000;
    height: 155px;
    margin-top: 1rem;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 10rem;
    margin:1rem;
}

.footer .box-container .box .logo{
    font-size: 1rem;
    color:#333;
}

.footer .box-container .box i{
    color:var(--color);
}

.footer .box-container .box p{
    font-size: 10px;
    padding:8px;
    color:#666;
}

.footer .box-container .box h3{
    font-size: 1px;
    color:var(--color);
    
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:nth-child(2) a{
    display: block;
    font-size: 1rem;
    padding:.4rem 0;
    color:#666;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    width: 85%;
    margin:0 auto;
    padding:-3px ;
    border-top: .1rem solid rgba(0,0,0,.3);
    color:#666;
    font-size: 12px;

    padding-bottom: 1rem;
    text-decoration: underline;

}

.footer .credit span{
    color:var(--color);
}
















